@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kadwa:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}
html {
    --white: #ffffff;
    --sky: #520120;
    --blue: #08403E;
    --green: #706513;
    --yellow: #B57114;
    --red: #962B09;
    --orange: #c76e00;
    --green1: #CCEA8D;
    --green2:#A6BC09;
    --blue1:#019587;
    --green3:#005148;
    --blue2:#01415B;
}

body {
    font-family: "Kadwa", Helvetica, sans-serif;
    margin: 0;
}
header{
   position: sticky;
   top: 0;
   padding: 10px 0px;
   background-color: #ffffff;

   /* z-index ใช้ปรับลำดับ ซ้อนทับ */
   z-index: 1;
}

.shadow {
   box-shadow: 5px 5px 5px #D3D3D3;
}
/* nav bar */
nav ol {
    /* display: block กินพทเต็ม กำหนดขนาดได้; */
    /* display: inline-block ขนาดเท่ากับcontentเเต่กำหนดได้ ; */
    /* display: inline ขนาดเท่ากับ content กำหนดขนาดไม่ได้; */ 
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    padding: 10px 20px;
    margin: 0;
    width: 100vw;

    height: 50px;
    background-color: white;
    list-style: none;
}
nav a {
    font-weight: 600;
    font-size: 1rem;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
}
 /* pseudoclass */
 nav ol li:last-child {
   position: absolute;
   right: 50px;
}
 /* main section:first-child { position: relative;} */
 /* h1 { position: absolute; top: 0; left: 0;} */
.botton {
   padding: 5px 10px;
   border-radius: 8px;
   font-weight: 400;
   color: white;
   background-color: var(--orange);
}
/* pseudoelement */
/* hover/active/focus/visited */
nav a:hover {
   background-color: #D3D3D3;
   padding: 20px 20px;
   box-shadow: 0px 5px 3px #ffffff;
}
.botton:hover {
  background-color: #962B09;
  padding: 5px 10px;
}
a {
    color: white;
}

    /* position: fixed; ติดกับหนา้จอ หลุดจากcontentflow */
    /* top: 0; */
    /* right: 0; */
    /* position: sticky; ติดไปจนถึงจุดสิ้นสุดของ parent element*/
    /* top: 20px; */

 
 /* section about */
 #about {
   display: flex;
   flex-direction: column;
   align-items: center; 
   justify-content: start;
   margin: 0px 0px;
   width: 100vw;
   height: 100vh;
   /* border: 2px solid var(--green3); */
   font-size: 2rem;
   color: #ffffff;

   background-image: url('../pictures/about\ me.JPG');
   background-position: center;
   background-size: cover;
}
#about h1 {
   margin-top: 0px;
}
#about span {
   font-size: 2rem;
   display: block;
   text-align: center;
}



/* section Interests */
#Interests {
   background-color: #441303;
   display: grid;
   grid-template-columns: repeat(6,1fr);
   /* grid-template-columns: repeat(3,1fr); */
   column-gap: 50px;
}
#Interests h2 {
   color: white;
}
#Interests #phoin {
   border-top-left-radius: 100px;
   border-bottom-right-radius: 0px;
   grid-column: span 4 ;
  width: 100%;
  height: auto;
  padding: 50px 0px;
}
#Interests > div {
   grid-column: span 2;
   display: flex;
   flex-direction: column;
   gap: 10px;
   border-radius: 3px;
}
#physics-interest {
   color: white;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
#physics-interest h3 {
   margin: 0;
   padding: 10px 10px;
   font-size: 1.75rem;
}
#physics-interest p {
   margin: 0;
   font-size: 1rem;
}



/* grid6 */
.grid-6 {
   display: grid;
   grid-template-columns: repeat(6,1fr);
   /* grid-template-columns: repeat(3,1fr); */
   column-gap: 10px;
}
.grid-6 h2 {
   font-size: 2rem;
   color:#962B09;
}
h2 {
   grid-column: span 6 ;
}
section {
   padding: 60px 60px;
}


/* section skill */

 #Skills #pho {
   grid-column: span 3 ;
  width: 100%;
  height: 100%;
  border-radius: 8px;
 }
 #Skills > div {
   grid-column: span 3;
   display: flex;
   flex-direction: column;
   gap: 10px;
 }
.Skills-item {
   padding: 20px 20px;
   gap: 20px;
   grid-column: span 3;
   width: 100%;
   display: flex;
   flex-direction: row;
   align-items: center;
   border-radius: 8px;

   background-color: black;
   color: white;
}
.Skills-item img {
   width: 100px;
   height: auto;
   border-radius: 8px;
}
.Skills-item div {
   display: flex;
   flex-direction: column;
}
.Skills-item div h3 {
   font-size: 1 rem;
   margin: 0;
   color: white;

}
.Skills-item div p {
   font-size: 0.8rem;
   color: #D3D3D3;

}











/* setion Education */
 #Education {
   padding: 0;
 }
 #title-ed {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100vw;
   backdrop-filter: brightness(80%);
   padding: 0px 0;
    
    height: 100vh; 
 }
 #title-ed {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
 
    height: 100vh;
    width: 100vw;
    

    background-image: url('../pictures/jorpor-end.jpg');
    /* วิธีปรับสัดส่วน */
    background-position: center;
    background-size: cover;

    color: white;
    }
 #title-ed {
   font-size: 6rem;
   font-weight: 800;
   margin: 0;
   padding-top: 0px;
 }

 .span-2 {
   display: grid;
   grid-column: span 2;
   width: 100%;
   height: auto;
 }
 .span-4 {
   display: grid;
   grid-column: span 4;
 }
#jorpor {
   padding: 60px 60px;
}
 #jorpor p {
   font-size: 1.5rem;
   font-weight: 700;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
 }
 #jorpor img {
   width: 50%;
   height: auto;
   margin-left: 60px;

 }

 #Education span {
   font-size: 1.5rem;
   font-weight: 700;
   display: block;
   text-align: center;
 }





 /* section Achievement */
 #Achievements #posn {
   grid-column: span 6;
 }
 #posn {
   display: grid;
   background-color: #01415B ;
   color: white;
   margin-bottom: 10px;
   padding: 10px 10px;
   border-radius: 10px;
   
 }
 #phoach {
   grid-column: span 3 ;
  width: 100%;
  height: 100%;
  border-radius: 10px;
 }
 #phoachc {
   grid-column: span 6 ;
   width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
 
 }
 
 #phoachi {
   grid-column: span 3;
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #005148;
   color: white;
   padding: 10px 10px;
   border-radius: 10px;
}
/* box shadow: 5px lightgray */
#onet {
   width: auto;
   height: 743.75px;
   border-radius: 10px;
}
#TU-GET {
   width: 100%;
   height: auto;
   border-radius: 10px;
}
#bronze {
   display: grid;
   background-color: #019587 ;
   color: white;
   margin-top: 10px;
   padding: 10px 10px;
   border-radius: 10px;
   grid-column: span 6;
}

#bronze img {
   width: 100%;
   height: auto;
}


 /* #phoachi {
   grid-column: span 3;
   width: 100%;
   height: auto;
}
#phoachi p {
   display: flex;
   flex-direction: row;
   justify-content: center;
}
#phoachi #phoachiv {
   grid-column: span 3;
   width: 100%;
   height: auto;
}
  */


 /* section activities */
 .act {
   display: grid;
   grid-template-columns: repeat(6,1fr);
   /* grid-template-columns: repeat(3,1fr); */
   column-gap: 10px;
   grid-column: span 3;
   padding: 10px 10px;
   color: black;
   margin: 10px 0px;
 }
 .acttext {
   display: grid;
   grid-column: span 3 ;
   width: 100%;

 }
 
 .actpho {
   grid-column: span 3;
   display: flex;
   flex-direction: column;
   align-content: center;
   justify-content: center;

 }
 .actpho img {
   width: 100%;
   height: auto; 
   margin-top: 10px; 
   margin-bottom: 10px;
   border-radius: 10px;
 }
 .acttext div {
   padding: 10px 10px;
   background-color: white;
   border-radius: 10px;

 }

/* เขียนเเยก */
 #cube {
   background-image: url('../pictures/cubesat-crowded.jpg');
   background-position: center;
   background-size: cover;
   border-radius: 20px;
 }
 #Hackathon {
   background-image: url('../pictures/hackathon-messy.jpg');
   background-position: center;
   background-size: cover;
   border-radius: 20px;
 }
 #Engi {
   background-image: url('../pictures/j-knowledge-car.jpg');
   background-position: center;
   background-size: cover;
   border-radius: 20px;
 }
 #AI {
   background-image: url('../pictures/ai-crowded.jpg');
   background-position: center;
   background-size: cover;
   border-radius: 20px;
 }




 .grid-6 h2 {
   grid-column: span 6;
 }

 

 /* section project */
 #Project {
   background-color: #01415B;
 }
 #Project h2 {
   color: white;
}
.span-3 {
   display: grid;
   grid-column: span 3;
   padding: 20px 20px;
   color: #CCEA8D;
}

.span-3 h3{
   margin: 0;
   height: fit-content;
}
#Project img {
   width: 100%;
   height: auto;
   border-radius: 10px;
}
#p1 {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
}

 /* section contact */
 #concept {
    background-color: #706513;
    color: white;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 #concept ul {
   list-style: none;
   color: white;
   display: flex;
    flex-direction: column;
    align-items: center;
 }
 #concept ul li a {
   color: white;
   font-weight: 600;
    font-size: 1rem;
    padding: 10px 20px;
    text-decoration: none;
    line-height: 1.5;
 }
 #real-life {
    background-color: #706513;
    color: #706513;
    display: block;
    width: 100vw;
   height: auto;
 }
 